@import '../base/_variables.scss';

.quizunit {
    margin-bottom: $main-padding *2;
}
.outcome {
    padding-bottom: $main-padding *5;
}
.quiz__session .outcome__score,
.quiz__session .outcome__menu {
    display: none
}
.quiz__session.quiz--completed .outcome__score,
.quiz__session.quiz--completed .outcome__menu {
    display: block;
}
.quiz__btns li {
    display: inline-block;
    margin-right: $main-padding * 0.5
}